<div id="logo">
	<img src="images/netTNC-logo.svg">
</div>
<h1>{{title}}</h1>
<h2>Configuration</h2>
<form>
<table>
<tr>
<th>
Radio: 
</th>
<td>
<select id="radio" name="radio" onchange='updateRadio({port1:{radioID:this.value}})'>
{{#each radios}}
<option value="{{model}}" title="{{description}}">{{model}}</option>
{{/each}}
</select>
</td>
</tr>
<th>
{{#each modems}}
Modem:
</th>
<td>
<select id="modem" name="modem" onchange='updateRadio({port1:{modemID:this.value}})'>
{{#each speeds}}
<option value="{{rate}}" title="{{description}}">{{rate}} bps {{modulation}}</option>
{{/each}}
</select>
{{/each}}
</td>
</tr>
</table>
<div>AGW PORT</div>
<input id="AGWPORT" type="number" min="1" max="65535" onchange="direwolf.setAGWPORT(this.value)"/>
<div>KISS PORT</div>
<input id="KISSPORT" type="number" min="1" max="65535" onchange="direwolf.setKISSPORT(this.value)"/>
<div>DEDUPE</div>
<input id="DEDUPE" type="number" min="1" max="65535" onchange="direwolf.setDEDUPE(this.value)"/>
<div>APRS-IS Server</div>
<input id="IGSERVER" type="text" onchange="direwolf.setIGSERVER(this.value)"/>
<div>APRS-IS Login</div>
<input id="IGLOGIN" type="text" onchange="direwolf.setIGLOGIN(this.value)"/>
<div>APRS-IS TX Limit</div>
<input id="IGTXLIMIT" type="text" onchange="direwolf.setIGTXLIMIT(this.value)"/>
<div>Log Directory</div>
<input id="LOGDIR" type="text" onchange="direwolf.setLOGDIR(this.value)"/>
<br/>
<input type="button" onclick='updateDirewolf()' value="Update"/>
</form>

